#careerCoverText{
  margin:15% 5% 5% 5%;
  text-align:center;
}
#element{
  font-size: 80px;
}
#jobSearchFilters, #jobBoard{
  margin:5%;
}
/*DROPDOWN FILTERS*/
.checkbox-dropdown {
    width: 300px;
    border: 1px solid #aaa;
    border-radius: 25px;
    padding:3% 5%;
    position: relative;
    margin: 0 auto;
    user-select: none;
}
.checkbox-dropdown:hover {
    border: 1px solid black;
}
.checkbox-dropdown:after {
    content:'';
    height: 0;
    position: absolute;
    width: 0;
    border: 6px solid transparent;
    border-top-color: black;
    top: 50%;
    right: 10px;
    margin-top: -3px;
}
.checkbox-dropdown.is-active:after {
    border-bottom-color: #000;
    border-top-color: transparent;
    margin-top: -9px;
}
.checkbox-dropdown.is-active {
    background: #93CD01;
}
.checkbox-dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top:150%;
    border-radius: 10px;
    border:1px solid black;
    left: -1px;
    right: -1px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    height: 250%;
    overflow: scroll;
    overflow-x: hidden;
    pointer-events: none;
    z-index: 1000;
    background: white;
}
.is-active .checkbox-dropdown-list {
    opacity: 1;
    pointer-events: auto;
}
.checkbox-dropdown-list::-webkit-scrollbar {
  width: 16px;
}
.checkbox-dropdown-list::-webkit-scrollbar-track {
  background-color: transparent;
}
.checkbox-dropdown-list::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
.checkbox-dropdown-list li label {
    display: block;
    padding: 3% 5%;
    transition: all 0.2s ease-out;
}
.checkbox-dropdown-list li label:hover {
    background-color: #93CD01;
    color: white;
}
.filtersSplitGrid{
  position: relative;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 100%;
}
/*CHECKBOXES DESIGN*/
.box{
  display: inline;
}
.check {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check input:checked ~ .box {
  background-color: #fff;
}
.check input:checked ~ .box:after {
  opacity: 1;
}
.check:hover input ~ .box {
  background-color: #eee;
}
.check:hover input:checked ~ .box {
  background-color: #fff;
}
.check .box {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 2px solid #333;
  transition: background-color 0.25s ease;
  border-radius: 4px;
}
.check .box:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}
.check span {
  color: #333;
  line-height: 1.4;
  font-size: 16px;
  font-weight: bold;
}
/*JOB BOARD*/
#jobBoard{
  margin-top:10%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.jobCard{
  border:2px solid black;
  border-radius:15px;
  margin:3% 5%;
}
.openJob{
  position: relative;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 100%;
  padding: 1% 1%;
  margin: auto 2%;
}
.tags{
  position: relative;
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 100%;
  margin: auto 5%;
  margin-left:0;
  margin-bottom: 1%;
}
.location h3, .workType h3{
  display: inline;
}
.jobCard h1{
  margin: 1% auto;
}
.jobCard p{
  margin: 1% auto;
  margin-bottom: 2%;
}
.jobCategory h3{
  text-align:center;
  margin:0%;
}
.jobCategory{
  background:pink;
  margin-top:5%;
  border-radius: 25px;
  margin-left:35%;
  padding:5px 5px;
  padding-right:10px;
  padding-left:5px;
}
.hidden{
  display: none;
}
#contactJobs{
  margin:5%;
  margin-left:10%;
  height:70%;
}
#contactJobForm{
  height:100%;
}
.contactGrid{
  display:grid;
  grid-template-columns: 70% 30%;
}
.contactCategoryGrid{
  display:grid;
  grid-template-columns: 25% 25%;
  grid-template-rows:20% 20% 20% 20% 20%;
  grid-row-gap: 15%;
}
#contactJobs h4{
  margin-bottom:0px;
}
#contactJobs h1{
  margin-top:5px;
}
#contactJobs .check .box {
  position: absolute;
  top: 0px;
  left: 5px;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #333;
  transition: background-color 0.25s ease;
  border-radius: 4px;
}
#contactRolesQuestion{
  height:60%;
}


















.cover-img{
  width:100%;
  height:400px;
  object-fit: cover;
}
#join{
  text-align:center;
  padding:5% 0%;
  border: 10px solid #93CD01;
  margin-bottom:5%;
  border-radius: 20px;
}
#who{
  padding: 5% 0%;
  background: #93CD01;
  margin-bottom:5%;
  margin-left: -4.25%;
  margin-right: -4.25%;
}
#who img{
  margin:0% 15%;
}
#who-text{
  margin:0% 15%;
}

#values .fourthSplitGrid{
  padding-top:2%;
}
.fourthSplitGrid{
  position: relative;
  display: grid;
  grid-template-columns: 21% 21% 21% 21%;
  grid-template-rows: 100%;
  padding: 0% 10%;
  grid-column-gap:5%;
}
#values{
  text-align: center;
  margin-bottom:5%;
}
.value-img{
  width:200px;
}

#benefits{
  margin-bottom:5%;
}
#benefit-list{
  margin:auto;
  margin-left:10%;
}
