.cover-img{
  width:100%;
  height:400px;
  object-fit: cover;
}
h2{
  display: inline-block;
}
#join{
  text-align:center;
  padding:5% 0%;
  border: 10px solid #93CD01;
  margin-bottom:5%;
  border-radius: 20px;
}
#who{
  padding: 5% 0%;
  background: #93CD01;
  margin-bottom:5%;
  margin-left: -4.25%;
  margin-right: -4.25%;
}
#who img{
  margin:0% 15%;
}
#who-text{
  margin:0% 15%;
}

#values .fourthSplitGrid{
  padding-top:2%;
}
.fourthSplitGrid{
  position: relative;
  display: grid;
  grid-template-columns: 21% 21% 21% 21%;
  grid-template-rows: 100%;
  padding: 0% 10%;
  grid-column-gap:5%;
}
#values{
  text-align: center;
  margin-bottom:5%;
}
.value-img{
  width:200px;
}

#benefits{
  margin-bottom:5%;
}
#benefit-list{
  margin:auto;
  margin-left:10%;
}


#careerCoverText{
  margin:15% 5% 5% 5%;
  text-align:center;
}
#element{
  font-size: 80px;
}

#jobSearchFilters{
  margin:5%;
}
.checkbox-dropdown {
    width: 200px;
    border: 1px solid #aaa;
    padding: 10px;
    position: relative;
    margin: 0 auto;

    user-select: none;
}

.checkbox-dropdown:after {
    content:'';
    height: 0;
    position: absolute;
    width: 0;
    border: 6px solid transparent;
    border-top-color: #000;
    top: 50%;
    right: 10px;
    margin-top: -3px;
}
.checkbox-dropdown.is-active:after {
    border-bottom-color: #000;
    border-top-color: #fff;
    margin-top: -9px;
}

.checkbox-dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%; /* align the dropdown right below the dropdown text */
    border: inherit;
    border-top: none;
    left: -1px; /* align the dropdown to the left */
    right: -1px; /* align the dropdown to the right */
    opacity: 0; /* hide the dropdown */

    transition: opacity 0.4s ease-in-out;
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    pointer-events: none; /* avoid mouse click events inside the dropdown */
}
.is-active .checkbox-dropdown-list {
    opacity: 1; /* display the dropdown */
    pointer-events: auto; /* make sure that the user still can select checkboxes */
}

.checkbox-dropdown-list li label {
    display: block;
    border-bottom: 1px solid silver;
    padding: 10px;

    transition: all 0.2s ease-out;
}

.checkbox-dropdown-list li label:hover {
    background-color: #555;
    color: white;
}
